.component-content{
  padding:80rpx 30rpx;
  .code-box-description{
    padding: 18px 24px 12px;
    border:1px solid #eee;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 26px;
    code{
      margin: 0 1px;
      padding: 0.2em 0.4em;
      font-size: 0.9em;
      background: rgba(0, 0, 0, 0.04);
      border: 1px solid rgba(5, 5, 5, 0.06);
      border-radius: 4px;
    }
  }
  .component-title{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  .block{
    margin-bottom: 20px;
  }
}
.button-demo::v-deep .uui-button {
  margin-right: 10px;
}
